<div class="container cont-1">
    <div class="row">
        <div class="col col-covid">
            <h1>Wat betekend het Corona virus voor Picnic?</h1>
            <p>Zoals u hoogstwaarschijnlijk al weet is het Corona virus nog steeds in volle gang.
                Onlangs dat Picnic een online supermarkt is zijn er toch momenten dat bezorgers van Picnic bij
                u langs komen om uw boodschappen te bezorgen. Wij willen u dan ook hierbij informeren dat er
                wegens het Corona virus een aantal wijzigingen zijn gemaakt in ons bezorg proces.
            </p>

            <p>Voordat uw boodschappen de Picnic bezorgwagen in gaan wordt ieder artikel gedesinfecteerd.
                Ook dragen onze medewerkers die de artikelen aanraken ten allertijden een mondkapje en handschoenen.
            </p>

            <p>Hiernaast willen wij u ook vragen te wachten met het op pakken van uw boodschappen tot onze bezorgers de boodschappen bij uw voordeur hebben neergezet
                en tenminste anderhalfe meter naar achter zijn gestapt.
            </p>

            <p>Totslot willen wij u ook er op attent maken dat het de afgelopen maanden drukte bij het bestellen erg is toegenomen.
                Dit kan er tot resulteren dat uw boodschappen iets later worden bezorgd dan gehoopt.
                Wij hopen dat u hier begrip voor heeft tijdens deze vreemde tijd.
            </p>

            <p>- Team Picnic</p>
        </div>
    </div>
</div>