<div class="container cont-1">
    <div class="row row-welcome">
        <div class="col">
            <h1>Welkom bij Picnic!</h1>
            <p>Uw registratie bij Picnic is voltooid!</p>
            <p>Download de app om uw eerste bestelling te plaatsen.</p>
            <img class="img-app" src="https://p.kindpng.com/picc/s/493-4937901_transparent-google-play-png-app-store-google-play.png"/>
        </div>
        <div class="col">
            <img class="img-welcome" src="https://scontent-amt2-1.cdninstagram.com/v/t51.2885-15/e35/89044469_622365524997386_7280592230481241452_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com&_nc_cat=102&_nc_ohc=L3nCBAqT1ucAX8RgzF5&oh=e3d82e31447ea5e6d10f7d4b69f0d841&oe=5F551666"/>
        </div>
    </div>

    <div class="row row-queue">
        <div class="col">
            <img class="img-queue" src="https://scontent-ams4-1.cdninstagram.com/v/t51.2885-15/e35/92823169_515771085971055_7296848908125899853_n.jpg?_nc_ht=scontent-ams4-1.cdninstagram.com&_nc_cat=103&_nc_ohc=sec_l-AtcIUAX_5rFTM&oh=cc7f0bcb5f3def033b2ea16df51efd12&oe=5F56988C"/>
        </div>
        <div class="col">
            <h1>Voordat u kunt bestellen</h1>
            <p>Wegens drukte heeft Picnic op dit moment een wachtlijst van nieuw geregistreerde gebruikers.
            Voordat u een bestelling kunt plaatsen moet u door de wachtlijst heen.
            Wij informeren u graag over uw status in de wachtlijst via het opgegeven email adres.
            </p>
            
            <p>
            Voor meer informatie over het wachtlijst systeem verwijzen wij u graag naar de website:
                <a href="https://picnic.app/nl/">https://picnic.app/nl/</a>
            </p>
        </div>
    </div>
</div>
