.cont-1 {
    box-shadow: 0 0 9px 0 rgba(0,0,0,.16);
}

.img-peter {
    height: 300px;
}

.img-about {
    height: 450px;
}

.img-hiw {
    height: 450px;
}

.col-peter {
    text-align: center;
}

.row-home {
    padding: 10px;
    margin-bottom: 20px;
}

.row-about {
    background-color: rgb(228, 6, 19);
    padding: 10px;
    color: white;
    margin-bottom: 20px;
}

.row-hiw {
    padding: 10px;
    margin-bottom: 20px;
}

.row-find {
    background-color: rgb(228, 6, 19);
    color:white;
    padding: 10px;
    margin-bottom: 20px;
}